<div class="center second-pane jumbotron">
  <div>
    <h1>What is it?</h1>
    <h3>Antwerp Student Hotel</h3>
    <p>Description of ASH</p>
  </div>
  <div>
    <ul class="list-group">
      <li class="list-group-item">Facebook feed</li>
      <li class="list-group-item"><%=link_to "Student Story", student_story_path %></li>
    </ul>
  </div>
</div>