<div class="center first-pane jumbotron">
  <h1>Antwerp Student Hotel</h1>

  <h2>
    Welcome to the Antwerp Student Hotel
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>