<div class="container picture_pane title_pane">
  <div class="row">
    <div class="col-md-3" id="title_pane_logo"> 
      <%= image_tag "ash_logo.png" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9" id="title_pane_header">
      <h2><i>
        "Antwerp Student Hotel is the best thing since sliced bread."
      </i></h2>
    </div>
  </div>
  
</div>