<div class="container text_pane rooms_pane">
  <div class="row">
    <div class="col-md-12">  
      <h1>
        <span class="larger_h1">
          ROOMS
        </span>
      </h1>
    <div class="col-md-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </p>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
       <%= render 'static_pages/home_roomtype_table'%>
    </div>
  </div> 
</div>