<% provide(:title, "Edit Room Type") %>
 
<div class="container admin_page">  
  <h1>Edit Room Type</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@room_type) do |f| %>
        <%= render 'fields', f: f %>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
</div>