@import 'twitter/bootstrap';

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$ashBlue: #00a5db;
$ashYellow: #ffc128;
$ashRed: #f32f14;
$ashBeige: #e7dfca;
$ashGrey: #40444b;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  color: white;
  background-color: $grayMediumLight;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.admin_page {
  margin-top: 10px;
  margin-bottom: 100px;
  color: black;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $ashBlue;
    text-decoration: none;
  }
}

/* footer */

#footer_section {
  height: 80px;
  vertical-align: middle;
  background-color: $ashBlue;
  padding: 30px 0;
  overflow: hidden;
  a {
    color: white;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:last-child {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

/* Table */
.table {
  text-align: center;
  th {
    text-align: center;
  }
}

/* Home page */

#home_page {
  margin-top: -10px;
    
  .text_pane {
    margin-top: 90px;
    margin-bottom: 160px;
  }

  h1 {
    /*margin-top: 90px;*/
    font-size: 4.2em;
  }

  h2 {
    font-size: 3em;
  }

  h1 .smaller_h1 {
    font-size: 0.47em;
  }

  .picture_break {
    margin-bottom: 10px;
  }
}

#home_introduction_pane {
  background-color: $ashBlue;
  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

#home_rooms_pane {
  background-color: $ashYellow;
  table {
    margin-top: 50px;
  }
  a {
    display: block;
  }
  
  .rooms_table {
    text-align: center;
  }

  .rooms_box {
    border: 1px solid black;
    height: 80px;
  }

  .remove_padding {
    padding: 0;
  }

  .rooms_box_invert {
    color: $ashYellow;
    background-color: white;
  }
}

#home_questions_pane {
  background-color: $ashRed;
  line-height: 35px;

  ul {
    list-style: none;
  }

  a {
    color: white;
    h3 {
      display: inline;
    }
  }
  
  #got_question {
    margin-top: 90px;
  }

  .home_answer {
    margin-bottom: 10px;
  }

  .home_question {
    margin-left: 45px;
  }
}

#home_partners_pane {
  background-color: $ashBeige;
  img {
    margin: 20px 20px;
  }

  .last_row {
    margin-bottom: 0px;
  }
}

#home_contact_pane {
  background-color: $ashGrey;
  img {
    margin-top: 20px;
  }
  
  span {
    letter-spacing: 2px;
  }

  #contact_pane_text {
    margin-top: 80px;
  }
}

#home_title_pane {
  background: url("/assets/amsterdam-student-hotel.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#home_map_pane {
  background: url("/assets/ash_map_break.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#home_picture_break_pane_1 {
  background: url("/assets/ash_room_break.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#home_picture_break_pane_3 {
  background: url("/assets/ash_bike_break.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#home_picture_break_pane_2 {
  background: url("/assets/ash_students_break.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title_pane {
  height: 450px;
}

.map_pane {
  height: 350px;
}

.room_picture {
  height: 250px;
}

.students_picture {
  height: 300px;
}

.bike_picture {
  height: 300px;
}

#title_pane_logo {
  padding-top: 50px;
  padding-bottom: 65px;
}

/* Media Queries */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  #home_page {
    h1 {
      font-size: 6.5em;
    }

    .introduction_pane h1 {
      font-size: 5em;
    }

  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .container {
    width: 940px;
  } 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .container {
    width: 940px;
  } 
}

