<div class="container" id="footer_div">  
  <small>
    © 2013 Antwerp Student Hotel. All Rights Reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Admin Area", signin_path %></li>
    </ul>
  </nav>
</div>
